<div class="py-5" style="	background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;" >
    <div class="container py-5">
      <div class="row py-5">
        <div class="col-md-12"><a class="btn btn-outline-primary btn-lg btn-block my-0 mt-0 py-5 text-center" href="/price">Change Gas Price</a></div>
        <!-- <div class="col-md-6"><a class="btn btn-outline-primary py-5 btn-lg btn-block" href="#">Outline</a></div> -->
      </div>
    </div>
  </div>