  <div class="py-0" style=" background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1)); background-position: top left;  background-size: 100%;  background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center" >
          <!-- <h1 class="">Message</h1> -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 justify-content-center d-flex py-3">
          <h1 class="">Current Price: $<%= @gas_price %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-3" style=" background-size: cover; background-position: top left;  background-repeat: repeat;  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .75));">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
          <h1 class="mb-4">Set Gas Price</h1>
          <form method="POST" action="/price">
            <div class="form-group"><input type="text" class="form-control" placeholder="Enter New Price" name="gas_price"> </div>
            <div class="form-group mb-3"> <small class="form-text text-muted text-right"></small> </div> <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>